<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FIR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="FindInRepository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FIR.Properties.Settings.SiebelDbConnectionString"
      connectionString="Persist Security Info=False;User ID=siebel;Password=Qwer1234;Initial Catalog=siebeldb;Server=sbl16dev"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <FIR.Properties.Settings>
      <setting name="GroupsOfTypes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>BrowserScripts:02 Applet Browser Script,05 Application Browser Script,08 BC Browser Script</string>
            <string>ServerScrips:02 Applet Browser Script,03 Applet Server Script,06 Application Server Script,09 BC Server Script,16 BS Server function</string>
            <string>Code:02 Applet Browser Script,03 Applet Server Script,05 Application Browser Script,06 Application Server Script,08 BC Browser Script,09 BC Server Script,15 BS Browser function,16 BS Server function</string>
          </ArrayOfString>
        </value>
      </setting>
    </FIR.Properties.Settings>
    <!--<FindInRepository.Properties.Settings>
      <setting name="GroupsOfTypes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>BrowserScripts:02 Applet Browser Script,04 Application Browser Script,07 BC Browser Script</string>
            <string>ServerScrips:02 Applet Browser Script,03 Applet Server Script,05 Application Server Script,08 BC Server Script,15 BS Server function</string>
            <string>Code:02 Applet Browser Script,03 Applet Server Script,04 Application Browser Script,05 Application Server Script,07 BC Browser Script,08 BC Server Script,14 BS Browser function,15 BS Server function</string>
          </ArrayOfString>
        </value>
      </setting>
      
    </FindInRepository.Properties.Settings>-->
  </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
